body{
    font-size:12px;
    font-family: "微软雅黑", Helvetica,Arial;
    color:#999;
    margin:0;
    padding:0;
    background-color:#fff;
}
i,em{
    font-style: italic;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,li{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
}
a:hover{
    color:#23ac38;
}
img{
    vertical-align:middle;

}

.clear:after{
    content:"";
    display:block;
    clear:both;
}
.lf{
    float:left;
}
.rt{
    float:right;
}


