*{margin:0px;padding:0px;}
body{background:url('img/1.jpg')  no-repeat  fixed center }
.position{}
.one a{font-size:4rem;color:#fff;font-family:"华文楷体";margin-left:80px;}
.user p a{text-decoration:none;font-size:1.3rem;color:#eee;font-family:"华文楷体"}
.aside ul a{color:#bdc4cc;font-size:1.7rem;font-family:"华文彩云"}
.modal .close{font-size:0.5rem;}

















